// Required elements loaded for override
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/variables";

// Here, i can...

    //create custom colors map for merge
    
    // Merge 2 maps in 1

    // Activate unable options

    // override BS defaults fonts and styles of variables        

$navbar-dark-color:                 rgba($white, .55) !default;
$navbar-dark-hover-color:           rgba(212,175,55, 0.75);
$navbar-dark-active-color:          $white !default;
$navbar-dark-toggler-icon-bg:       url("../img/header/burgerMenu.svg");
$navbar-dark-toggler-border-color:  none;
$navbar-toggler-focus-width:        none;

    // activate unable options

// Add all BS natives and overriden styles on my custom.css
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

// Now, i can use additionnal custom styles

.logo {
    height:80px;
    width: auto;

    &.overlay {
        height:180px;
        width: auto;
    }
}

span.navbar-toggler-icon {
    height: 49px;
    width:47px;
}

.navbar-collapse {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color:#121526;
}

@media screen and (min-width:992px){
    .navbar-collapse{
        position: static;
        height: auto;
        background-color: initial;
    }
}